@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/Poppins-SemiBold.woff") format("woff");
}


@font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/Poppins-Medium.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/Poppins-Bold.woff") format("woff");
} 