@import 'tailwindcss';
@import './fonts.css';
@import './base.css';

@layer base {
	.text-btn {
		font: var(--font-btn);
	}

	.text-display {
		font: var(--font-display);
	}

	.text-body-bold {
		font: var(--font-body-bold);
	}

	.text-body-medium {
		font: var(--font-body-medium);
	}
}

@theme {
	--color-primary: hsl(276, 91%, 38%);
	--color-primary-dark: hsla(276, 91%, 28%);
	--color-primary-50: hsla(276, 91%, 38%, 0.5);
	--color-black-100: hsl(0, 0%, 21%);
	--color-black-75: hsl(0, 0%, 40%);
	--color-black-50: hsl(0, 0%, 61%);
	--color-black-25: hsl(0, 0%, 80%);

	--color-white-100: hsl(0, 0%, 100%);
	--color-white-98: hsl(0, 0%, 98%);
	--color-white-97: hsl(240, 7%, 97%);

	--color-danger-100: hsla(0, 100%, 40%, 1);
	--color-blue-100: hsla(220, 100%, 50%, 1);
	--color-green-100: hsla(126, 100%, 43%, 1);

	--font-family: 'Poppins', sans-serif;
	--font-btn: 600 0.9375rem var(--font-family);
	--font-display: 700 2rem var(--font-family);
	--font-body-bold: 700 1.125rem var(--font-family);
	--font-body-medium: 500 1.125rem var(--font-family);

	--radius-sm: 0.3125rem;
	--radius-md: 0.625rem;

	--breakpoint-xs: 320px;
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1300px;
	--breakpoint-2xl: 1536px;
	--breakpoint-3xl: 1920px;
}
